doctype html
html(lang="en" class="no-js")
  head
    title Simple form
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(src='js/vendor.js')
    script(src='js/main.bundle.js')

  body
    header
      .right-topnav
        a(href='#your_crate') Your crate (3)
        a(href='#wishlist') Wishlist (2)
        a(href='#account') Account
        a(href='#newsletter') Newsletter
        a(href='#world_shipping') Wordlwiwe Shipping
      .left-topnav
        a#default-open.topnav-links.active(href='#new_releases') NEW RELEASES
        a.topnav-links(href='#pre_order') PRE ORDER
        a.topnav-links(href='#bestsellers') BESTSELLERS
        a.topnav-links(href='#features') FEATURES
        a.topnav-links(href='#merchandise') MERCHANDISE
        a.topnav-links(href='#genres') GENRES
        a.topnav-links(href='#labels') LABELS
        a.topnav-links(href='#sale') SALE
        .search-container
          form(action='/search_results.php')
            input#search_results(type='text', placeholder='SEARCH', name='search')
            button(type='submit') SEARCH
      #new_releases.content-topnav
        a#default-link(href='#books_mags') BOOKS AND MAGS
        a(href='#clothing') CLOTHING
        a(href='#film') FILM
        a(href='#equipment') EQUIPMENT
        a(href='#gift_vouchers') GIFT VOUCHERS
      #pre_order.content-topnav
        a(href='#books_mags') 1-th
        a(href='#clothing') 2-th
        a(href='#film') 3-th
        a(href='#equipment') 4-th
        a(href='#gift_vouchers') 5-th
      #bestsellers.content-topnav
        a(href='#books_mags') 6-th
        a(href='#clothing') 7-th
        a(href='#film') 8-th
        a(href='#equipment') 9-th
        a(href='#gift_vouchers') 10-th
      #features.content-topnav
        a(href='#books_mags') 11-th
        a(href='#clothing') 12-th
        a(href='#film') 13-th
        a(href='#equipment') 14-th
        a(href='#gift_vouchers') 15-th
      #merchandise.content-topnav
        a(href='#books_mags') 21-th
        a(href='#clothing') 22-th
        a(href='#film') 23-th
        a(href='#equipment') 24-th
        a(href='#gift_vouchers') 25-th
      #genres.content-topnav
        a(href='#books_mags') 26-th
        a(href='#clothing') 27-th
        a(href='#film') 28-th
        a(href='#equipment') 29-th
        a(href='#gift_vouchers') 30-th
      #labels.content-topnav
        a(href='#books_mags') 31-th
        a(href='#clothing') 32-th
        a(href='#film') 33-th
        a(href='#equipment') 34-th
        a(href='#gift_vouchers') 35-th
      #sale.content-topnav
        a(href='#books_mags') 36-th
        a(href='#clothing') 37-th
        a(href='#film') 38-th
        a(href='#equipment') 39-th
        a(href='#gift_vouchers') 40-th
    main
      section#books_mags.main-content
        h2 BOOKS & MAGS
      section#clothing.main-content
        h2 CLOTHINGS
      section#film.main-content
        h2 FILM
      section#equipment.main-content
        h2 EQUIPMENT
      section#gift_vouchers.main-content
        form#gift-vouchers-form(action='../src/gift_vouchers.php', target='_self', method='post', autocomplete='on', b='')
          .grid-container.full
            .grid-x.grid-margin-x
              .cell.auto
                h2 GIFT VOUCHERS
                p
                  | This is a FIFTY pound voucher that can be used for almost anything on Nitro Digital - except Gift Vouchers or Subscription plans.
          .grid-container.full
            .grid-x.grid-margin-x
              .cell.large-8
                label(for='cl_name') From:
                input#cl_name(type='text', name='client_name', placeholder='Your name here', pattern='[A-Za-z]{20}', required='', minlength='2', maxlength='60')
              .cell.large-8
                label(for='voucher_am') Voucher Amount
                select#voucher_am(name='voucher_amount')
                  option(value='10pounds') £10
                  option(value='20pounds') £20
                  option(value='30pounds') £30
                  option(value='40pounds') £40
                  option(value='50pounds', selected='') £50
                  option(value='60pounds') £60
                  option(value='70pounds') £70
                  option(value='80pounds') £80
                  option(value='90pounds') £90
                  option(value='100pounds') £100
                  option(value='250pounds') £250
                  option(value='500pounds') £500
          .grid-container.full
            .grid-x.grid-margin-x
              .cell.large-8
                label(for='cl_email')
                input#cl_email(type='email', name='client_email', minlength='3', maxlength='32', list='defaultEmails', placeholder='Your email address here')
                datalist#defaultEmails
                  option(value='youremail@gmail.com')
                  option(value='youremail@bing.com')
                  option(value='youremail@yahoo.com')
                  option(value='youremail@yandex.com')
                  option(value='youremail@alibaba.com')
              .cell.large-1 Send
              .cell.large-2 OR
              .cell.large-2 Choose date
              .cell.large-2 dd/mm/yy
              .cell.large-1 Picker
          .grid-container.full
            .grid-x.grid-margin-x
              .cell.large-8
                .cell.auto Recipient name
                .cell.auto Recipient email
              .cell.large-8 Message
          .grid-container.full
            .grid-x.grid-margin-x
              .cell.large-11 FAQ
              .cell.large-2 Preview button
              .cell.large-3 Buy button
    footer
      section
        .grid-container.full
          .grid-x.grid-margin-x
            .cell.large-6
              .cell.auto Newsletter Sign Up
              .cell.auto Follow us
            .cell.large-3 Navigation
            .cell.large-2 Service
            .cell.large-2 Company
            .cell.auto Contact
      section
        .grid-container.full
          .grid-x.grid-margin-x
            .cell.large-4 Copyright
            .cell.large-3 Privacy and Legal
            .cell.large-3 Terms & Conditions
            .cell.large-2 Secure Payments
            .cell.auto Credit cards
    script.
      $(document).foundation();

